
#numpy==1.26.4
#pandas==2.3.0
#scikit-learn==1.7.0
#streamlit==1.46.1
#streamlit-option-menu==0.3.6
#tensorflow==2.13.0
#seaborn==0.13.2
#pyparsing==3.2.3
#pickle-mixin==1.0.2
#altair==5.5.0
#vega_datasets==0.9.0
#matplotlib==3.10.3
#opencv-python==4.11.0.86
#Pillow==11.2.1

#numpy==1.26.4
#pandas==2.3.0
#scikit-learn==1.4.2
#streamlit==1.46.1
#streamlit-option-menu==0.3.6
#tensorflow==2.15.0        # or 2.13.0 if you're sure about it
#seaborn==0.13.2
#pyparsing==3.2.3
#altair==5.5.0
#vega_datasets==0.9.0
#matplotlib==3.8.4
#opencv-python==4.11.0.86
#Pillow==11.2.1


numpy==1.26.4
pandas==2.3.0
scikit-learn==1.4.2
streamlit==1.46.1
streamlit-option-menu==0.3.6
tensorflow==2.15.0
seaborn==0.13.2
pyparsing==3.2.3
altair==5.5.0
vega_datasets==0.9.0
matplotlib==3.8.4
opencv-python==4.11.0.86
Pillow==11.2.1
